apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- 50-masters-chrony-configuration.yaml
- 50-remove-keepalived.yaml
- 50-workers-chrony-configuration.yaml
- 90-worker-iscsi-multipathing.yaml
