---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../common/

  # Custom logo
  - console-custom-logo.configmap.yaml
  - console-operator-config.yaml
  - cluster-scope/
  - namespace/
