# To regenerate bundle.yaml, from deploy directory run:
# $ kubectl kustomize . > bundle.yaml
#
# Kustomize will merge the specified files also in the correct order.

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: netapp-trident

resources:
  - namespace.yaml
  - crds/trident.netapp.io_tridentorchestrators_crd_post1.16.yaml
  - bundle_post_1_25.yaml
  - crds/tridentorchestrator_cr.yaml
