---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../common/
  - cluster-scope/
  - namespace/
  - ../../../apps/astra-trident/overlays/stormshift-ocp4/

  # Custom logo
  - console-custom-logo.configmap.yaml
  - console-operator-config.yaml
